#__next {
  white-space: pre-line;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  @apply text-gray-100;
  @apply bg-primary-900;
  @apply pattern-crosses-primary-800/25;
  font-family: 'Poppins', sans-serif;
  min-height: 100vh;
}