#root {
  white-space: pre-line;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  @apply text-gray-100;
  @apply bg-primary-900;
  font-family: 'Poppins', sans-serif;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}